<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
	<select id='selectSignOut' parameterType='UserDto' resultType='boolean'>
		select refrechToken from users where id = #{id}
	</select>
	<select id = 'selectTest' resultType = 'HashMap'>
		select * from test
	</select>
	<insert id = 'insertUser' parameterType = 'UserDto'>
		insert into users(id, password, name) value(#{id}, #{password}, #{name})
	</insert>
	<select id = 'selectUserDtoById' parameterType = 'String' resultType = 'UserDto'>
		select *  from users where id = #{id}
	</select>
	<update id = 'updateLogOutStatus' parameterType = 'UserDto'>
		update users
		set refresh_token  = null
		where refresh_token = #{refreshToken}
	</update>
	<select id = 'selectUserDtoByRefreshToken' parameterType = 'String' resultType ='UserDto'>
		select id, name from users
		where
		refresh_token = #{refreshToken}
	</select>
	<update id = 'updateRefreshToken' parameterType = 'UserDto'>
		update users
		set refresh_token = #{refreshToken}
		where id = #{id}
	</update>
	<delete id = 'deleteUserById' parameterType = "UserDto">
		delete from users where id = #{id}
	</delete>
</mapper>